 /* Google font */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

 body {
     margin: 0;
     font-family: 'Poppins', sans-serif;
 }

 main {
     background-color: #181733;
 }
 .top-sec {
    height: 677px;
    width: 100%;
    background-color: #2D25A0;
    
}
.login-button {
    text-align: right;
    padding-top: 42px;
    padding-right:124px ;
}
.fa-sign-in-alt {
    margin-right: 10px;
}
 .top-content {
     display: flex;
     padding-top: 135px;
 }
 .sec-deatis {
     margin-left: 156px;
     padding-top: 47px;

 }

 .heaf-width {
     width: 50%;
 }

 .sec-deatis h2 {
     font-size: 64px;
     line-height: 80px;
     font-weight: 700;
     color: #FFFFFF;
     margin: 0;
     padding-bottom: 25px;
 }

 .link-button {
     padding: 15px 35px;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     border-radius: 10px;
     border: 0;
     background-image: linear-gradient(to right, #6a3093 0%, #a044ff 51%, #6a3093 100%)
 }

 .link-button:hover {
     background-position: right center;
     color: #fff;
     text-decoration: none;
 }

 .link-button {
     text-decoration: none;
     color: #FFFFFF;
 }

 .arrow {
     color: #FFFFFF;
     padding-left: 10px;
     font-size: 16px;

 }

 #players {
     font-size: 40px;
     color: white;
     line-height: 0.5em;

 }

 .top-banner {
     margin-right: 140px;
 }

 .top-banner img {
     width: 557px;
     height: 438px;
 }

 .container {
     margin-top: 70px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .blogs {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }

 .blog {
     width: 330px;
     height: 474px;
     padding-top: 15px;
     padding-bottom: 15px;
     margin: 0 15px 27px 15px;
     box-shadow: rgba(241, 240, 240, 0.24) 0px 3px 8px;
     border-radius: 10px;
     background-color: rgb(255, 255, 255);
 }

 .blog-banner img {
     height: 256px;
     width: 300px;
     margin-left: 15px;
     border-radius: 10px;

 }

 .blog-title h3 {
     font-size: 28px;
     font-weight: 700;
     line-height: 40px;
     margin-left: 15px;
 }

 .blog-title p {
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     text-align: left;
     margin-left: 15px;
 }

 .schedule-sec {
     margin-top: 25px;
     background-image: url(images/banner-2.jpg);
     text-align: center;
     height: 700px;
 }

 .schedule-content {
     padding-top: 10%;
 }

 .schedule-logo img {
     width: 155px;
     height: 155px;
 }

 .schedule-details h3 {
     font-size: 48px;
     color: #FFFFFF;
     line-height: 0;
 }

 .schedule-details p {
     font-size: 24px;
     color: #FFFFFF;
 }

 .schedule-link-button {
     padding: 10px 40px;
     transition: 0.5s;
     background-size: 200% auto;
     border-radius: 10px;
     color: white;
     background-image: linear-gradient(to right, #6a3093 0%, #a044ff 51%, #6a3093 100%);
     margin-left: 10px;
 }

 .schedule-link-button:hover {
     background-position: right center;
     color: #fff;
 }

 a {
     text-decoration: none;
 }

 .social-icon {
     font-size: 32px;
     padding: 5px;
     color: #360dbde5
 }

 footer {

     text-align: center;
     padding-top: 100px;
     margin-bottom: 100px;
 }
 .footer-logo img {
    height: 100px;
    width: 280px;
}

footer h5 {
font-size: 18px;
font-weight: 400;
line-height: 24px;
}
 /*================
        Mobile Device
      ================= */
      
 @media only screen and (max-width: 688px) {

     /* Top section start */
     .top-sec {
         height: 720px;
         width: 100%;
         background-color: #2D25A0;
     }
     .login-button {
        text-align: right;
        padding-right:21px ;
    }
     .top-content {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         padding-top:70px;
     }
     .heaf-width {
         width:60%;
     }

     .sec-deatis {
         margin-left: 15px;
         padding-top: 0;

     }

     .top-sec h2 {
         font-size: 36px;
         font-weight: 700;
         line-height: 50px;
         letter-spacing: 0px;
     }

     .link-button {
         padding: 10px 30px;
     }

     .top-banner {
         padding-top: 64px;
     }

     .top-banner img {
         height: 250px;
         width: 325px;
     }

     /* Top section end */

     

     /* Blogs section start */

     .container {
         margin-top: 56px;
     }

     .blogs {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
     }

     .schedule-sec {
         width: 100%;
     }

     .schedule-content {
         padding-top: 25%;
     }

     .schedule-details h3 {
         font-size: 20px;
         color: #FFFFFF;
         line-height: 0;
     }

     .schedule-details p {
         font-size: 14px;
         color: #FFFFFF;
         text-align:center;
}

  /* Blogs section End */

     }
     /*================
        Tablet Device
      ================= */
      @media only screen and (min-width: 689px) and ( max-width:991px) {
        
        footer {
            display: none;
            
        }

      }